﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="tmdt_lab01_1212255.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>MSSV  :   1212255</h1>
        <h1>Họ Tên:   Đinh Trọng Nghĩa</h1>
        <h1>Email :   1212255@student.hcmus.edu.vn</h1>
        <img src="1212255.jpg" width="300" height="300" />
        2
    </div>
    </form>
</body>
</html>
